:root {
  --PRIMARY-COLOR: #03045e;
  --SECONDARY-COLOR: #90e0ef;
  --ACCENT-COLOR: whitesmoke;
}

* {
  border: solid 1px red;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Roboto";
  background-color: whitesmoke;
  /* width: clamp(500px, 100%, 1920px); */

  font-size: clamp(0.7rem, calc(1vw + 0.25rem), 2rem);
}

.App {
  width: clamp(100px, 100%, 2000px);
}

.app-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  font-size: clamp(0.5rem, calc(1.25vw + 0.25rem), 5rem);

  background-color: var(--PRIMARY-COLOR);
  color: var(--ACCENT-COLOR);
}
.header-text {
  font-family: "Tilt Prism";
  user-select: none;
}

.app-header img {
  --DIMENSION: clamp(50px, calc(3vw + 0.25rem), 1000px);
  width: var(--DIMENSION);
  height: var(--DIMENSION);
  min-width: 50px;
  /* height: auto; */
  aspect-ratio: 1/1;
}

.item-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  justify-content: center;
}

.form-fields {
  display: flex;
  gap: 1rem;
}

.form-field {
  display: flex;
  flex-direction: column;
}

/* Packing list */
div.packing-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
}

div.list-item {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  align-items: flex-start;
  border: 2px solid blue;
}
div.list-item * {
  border: 2px solid blue;
}

.list-item-amount {
  font-size: 4rem;
  text-align: center;
}

.packed-button {
}
